.chatContent {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100%;
}

.roomContent {
  position: relative;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 77px);
}

.content {
  width: 80%;
}

.chatContent.mobile {
  display: block;
}

.chatList.hidden {
  display: none;
}

.roomContent.hidden {
  display: none;
}

@media (width < 1024px) {
  .content {
    width: 95%;
  }
}
