.chatContent {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  grid-template-columns: 400px 1fr;
  grid-template-rows: 70px 1fr;
  height: 100vh;
  overflow-y: hidden;
}

.chatList {
  grid-area: sidebar;
}

.roomContent {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.chatContent.mobile {
  display: block;
}

.chatList.hidden {
  display: none;
}

.roomContent.hidden {
  display: none;
}

@media (width < 1024px) {
  .roomContent {
    grid-area: content;
    width: 95%;
  }
  .chatContent {
    grid-template-columns: 300px 1fr;
  }
}
