.chatMessagge {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: calc(100vh - 70px);
}

.message {
  display: flex;
  justify-content: flex-start;
}

.message.own {
  display: flex;
  justify-content: flex-end;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  background-color: #3d3d3d;
  padding: 4px 10px 7px 10px;
  border-radius: 15px 15px 15px 0px;
  gap: 5px;

  & > .createdAt {
    text-align: end;
  }
}

.messageWrapper.own {
  display: flex;
  margin: 5px 0;
  justify-content: flex-end;
  background-color: #766ac8;
  border-radius: 15px 0px 15px 15px;
  gap: 5px;
}

.messageImage {
  width: 200px;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
}

.createdAt {
  font-size: 12px;
}

@media (width < 640px) {
  .chatMessagge {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
}
