.inputWrapper {
  padding: 15px;
  background: #1e2124;
  border-radius: 4px;
  border: 1px solid #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 100%;
}

.btn {
  background-color: inherit;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
